#!/usr/bin/env xdg-open
[Desktop Entry]
Name=eclipse embcpp
Comment=Run eclipse embcpp
Exec=/home/floyd/soft/eclipse-embcpp/eclipse
Terminal=false
Type=Application
Icon=/home/floyd/soft/eclipse-embcpp/icon.xpm
StartupNotify=true
MimeType=application/x-ipynb+json;
Categories=Development;
Keywords=eclipse-embcpp;
Name[zh_CN]=eclipse-embcpp
